Answer1- Tuple is a data strcuture that can store multiple data types and tuples are defined using () curly brackets. Tuples are iterable,indexable but the main difference between tuple and list is Tuples are immutable that once defined the values in the tuple can be reassigned like lists.

Answer2- There are only two tuple methods in python-
1.count()
2.index()

In [2]:
t1=(1,2,3,4,5,1,3,5,8)
t1.count(1)

2

In [3]:
t1.index(5)

4

Main reason is that tuples are immutable thats why other functions are not available in tuples while lists have those.

Answer3- Sets do not allow to store duplicate items in python.

In [4]:
List1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [8]:
s=set(List1)
s

{1, 2, 3, 4}



Python sets have these methods:

s.union(t)  s | t   new set with elements from both s and t

s.update(t) s |= t  return set s with elements added from t

In [16]:
s={1,4,23,4,5,6,4,3}
s

{1, 3, 4, 5, 6, 23}

In [17]:
t={1,2,5,7,5,3,67,9,2}
t

{1, 2, 3, 5, 7, 9, 67}

In [11]:
s.union(t)

{1, 2, 3, 4, 5, 6, 7, 9, 23, 67}

In [15]:
s

{1, 2, 3, 4, 5, 6, 7, 9, 23, 67}

In [19]:
s={1,4,23,4,5,6,4,3}
t={1,2,5,7,5,3,67,9,2}
s.update(t)
s

{1, 2, 3, 4, 5, 6, 7, 9, 23, 67}

Answer5- Dictionary is a data structure that stores a key and a value pair and its is defined using {}.

In [23]:
d1={"Name":"Priyanshu","class":"Data science masters","age": 2}
d1

{'Name': 'Priyanshu', 'class': 'Data science masters', 'age': 2}

Python dictionaries are unordered as an index is not defined in the dictionary apart fron this key is used.

Answer6- Yes we can create a nested dictionary.For eg

In [25]:
d1={"Name":{"Nickname":"Priyanshu","Surname":"Dahiya"},"class":"Data science masters","age": 2}
d1['Name']['Surname']

'Dahiya'

Answer8-The main view objects of dictionary in python are keys, values and items.

In [26]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [27]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [28]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [29]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])